
val scores: Vec[Integer] = [90, 85, 95, 92];

println("Scores: ", scores);

val studentAges = {"Jane" :14, "Bob": 16, "Tom": 15};

val answers = {"Jane": ["A", "C", "D", "A"],
    "Bob": ["B", "C", "D", "B"],
    "Tom": ["A", "C", "B", "A"]};

for (a, b : studentAges, answers) {
    println(a, b);
};
