

def myList = range(0, 100, 10);

def incremented = map(inc, myList);

defn square(x): Number -> Number {
     x*x;
}

def squared = map(square, incremented);

println(squared);

def halfRange = (squared.first() + squared.last()) / 2;

println(halfRange);
