

val myList = range(0, 100, 10);

val incremented = map(inc, myList);

defn square(x): Number -> Number {
     x*x;
};

val squared = map(square, incremented);

println(squared);

val halfRange = (squared.first() + squared.last()) / 2;

println(halfRange);
