

println(if (nil) {
            "Not gunna happen"
                } elif (false) {
            "Nope"
                } elif (true) {
            "HELLO WORLD!"
                } else {
            "That ship has sailed"
                });
