
val scores: Vec[(Integer 1) (Integer 2) (Integer 3) (Integer 4)] = [90, 85, 95, 92];

defn addScores(scores): Vec[Integer] -> Integer {
     scores[0] + scores[1] + scores[2] + scores[3];
};

println(addScores(scores));


val studentAges: Map[String Integer] = {"Jane" :14, "Bob": 16, "Tom": 15};

defn addAges(ages): Map[String Integer] -> Integer {
     ages["Jane"] + ages["Bob"] + ages["Tom"];
};

println(addAges(studentAges));